footer{
	width:100%;
	color:#fff;
	font-size: 0.90em;
	background-color:$dk_green;
	border-top:5px solid $orange;
	hr{
		margin:0 0 0 0;
	}
	#footer_logo{
		margin-left: -1.0em;
		@media only screen and (max-width: 700px) {
			margin: 0 auto;
		}
	}
	.footer_contain{
		 @include grid-container;
		 max-width: 1200px;
		 margin:0 auto;
		 padding: 1.8em 0;
		 .footer_logo{
		 	@include grid-column(3);
		 	p{
		 		margin: 0 0 .35em 0;
		 	}
		 	a{
		 		color:#fff;
		 		&:hover{
		 			color:$orange;
		 		}
		 	}
		 	@media only screen and (max-width: 700px) {
				@include grid-column(12);
				padding:1.0em;
				margin-bottom: 1.0em;
				border-bottom: 1px solid #fff;
				text-align: center;
			}
		 }
		 .footer_about{
		 	@include grid-column(6);
		 	@media only screen and (max-width: 700px) {
				@include grid-column(12);
				padding:1.0em;
				margin-bottom: 1.0em;
				border-bottom: 1px solid #fff;
				text-align: center;
			}
		 }
		 .footer_facebook{
		 	@include grid-column(3);
		 	@media only screen and (max-width: 700px) {
				@include grid-column(12);
			}		 	
		 	color: #000;
		 	font-size: 12px;
		 }
	}
	.copyright{
		text-align: center;
		padding:1.0em;
	}
}