body{
	background-color: $white;
	font-size: 18px;
	color:#000;
	line-height:1.2em;
}

$custom-neat-grid: (
  columns: 12,
  gutter: 50px,
  media: 1000px,
);


#primary{
	width:100%;
	max-width: 1200px;
	margin:0 auto 2.0em;
	display:block;
	@include clearfix;
}
body.home{
	#header_video{
		width:100%;
		max-width: 1200px;
		margin:0 auto 2.0em;
		display:block;
		@include clearfix;
	}
	.site-main{
	  @include grid-column(9);
	  @media only screen and (min-width: 1200px) {
	  	margin-left: 0;
	  }
	  @media only screen and (max-width: 700px) {
	      @include grid-column(12);
	   }

	}
	#sidebar_nap{
	  @include grid-column(3);
	  @media only screen and (max-width: 700px) {
	      @include grid-column(12);
	   }
	    @media only screen and (min-width: 1200px) {
	  		width:25%;
	  	}
	}
}
body.single{
	.site-main{
	   @include grid-column(12);
	 }
}